*{
    padding: 0px;
    margin: 0px;
}

nav {
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Center align vertically */
}

nav .hyperlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 80px;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

nav .hyperlinks li {
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack vertically on smaller screens */
        align-items: flex-start;
    }

    nav .hyperlinks {
        justify-content: flex-start;
    }
}


section{
    height: calc(100vh - 75px);
    overflow: scroll;
}

section .home{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    padding:20px 20px 0px 20px;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

section .home .content {
    min-width: 40%;
    min-height: 35%;
    padding: 10px;
    background-color: burlywood;
    padding: 25px;
    border-radius: 3%;
    box-shadow: 6px 6px 8px grey;
}

section .home .picture{
    max-width: 25%;
    max-height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: burlywood;
}
.home .content p a{
    text-decoration: none;
    color: Black;
    font-weight: bold;
}

#greeting{
    font-size: 33.88px;
    text-transform: capitalize;
    padding: 8px 0px;
}


#name{
    padding: 20px 0px;
    font-size: 45.88px;
    font-family: sans-serif;
    text-transform: uppercase;
}

#name span{
    text-transform: uppercase;
}

.home .content p{
    padding: 8px 0px;
    font-size: 18.56px;
    font-family: sans-serif;
}

.home .content #dynamic-paragraph{
    font-size: 24.56px;
    padding: 10px 0px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.picture img{
    height: 100%;
    width: 100%;
}
footer{
    text-align: center;
    background-color: burlywood;
    padding: 12px 0px;
}

footer p{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 15px;
        font-family: cursive;
        font-weight: bold;
    }
}
    
/* Animations */
/* This to hide the scroll bar of any division which allows scroll overflow */
section::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
